#Box {
    display: none; /* Alapból rejtve */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

.Box-content {
    background: #0b446c;
    padding: 40px;
    border-radius: 20px;
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto; /* Ha túl hosszú a szöveg, lehessen görgetni */
    color: white;
}