body{
    margin: 0;
    padding: 0;
    background-color: #E7ECEF;
}

nav{
    height: 100%;
    width: 15%;
    line-height: 30px;
    position: sticky;
}

.nav_item{
    list-style: none;
}

.nav_item>a{
    text-decoration: none;
    color: black;
}

.nav_img{
    width: 50px;
    padding-left: 30px;
    margin-left: 8px;
}

.header_search{
    float: right;
    border-radius: 25px;
    border: none;
    padding: 8px;
    margin-top: 15px;
    margin: 10px;
    text-decoration: none;
    color: black;
}

#logReg_form{
    margin-left: auto;
    margin-right: auto;
    display: grid;
    text-align: center;
    line-height: 10px;
    margin-top: 100px;
}

#logReg_form>input{
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background-color: #E7ECEF;

    border: none;
    border-bottom: 1px solid black;
}

#logReg_form>input:focus{
    outline: none;
    font-weight: bold;
}

.logReg_btn{
    margin-right: auto;
    margin-left: auto;
    flex-direction:row;
    border: none;
    border-radius: 25px;
    padding: 8px;
}