* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
}

body {
  background-color: #E7ECEF;
}

.app {
  display: flex;
  height: 100vh;
}

.logo img {
  height: 100px;
}

.sidebar {
  width: 220px;
  background: #E7ECEF;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.logo {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 30px;
}

.menu a {
  display: block;
  padding: 10px 14px;
  margin-bottom: 8px;
  border-radius: 8px;
  cursor: pointer;
  color: #333;
}

.menu a.active {
  background: #cfe4ff;
}

.nav{
    text-decoration: none;
    font-weight: bold;
}

.nav:hover{
    background-color: #cfe4ff;
}

.sidebar-bottom {
  margin-top: auto;
  display: flex;
  gap: 10px;
}

.content {
  flex: 1;
  padding: 20px 30px;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.topbar input {
  width: 240px;
  padding: 8px 12px;
  border-radius: 20px;
  border: none;
  outline: none;
}

.user {
  background: white;
  padding: 8px 14px;
  border-radius: 20px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  background: white;
  border-radius: 16px;
  min-height: 180px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.card.wide {
  min-height: 120px;
}

.card-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.card.also {
  min-height: 220px;
}

.sett{
    height: 40px;
    transition: transform 0.2s ease;
    transform-origin: center;
}

.sett:hover {
    transform: rotate(30deg);
}