html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
}

:root {
    --background-color: #E7ECEF;
    --secondary-color: #333;
    --text-color: #1E1E1E;
    --blue-color : #A1C6EA;
}

/*navbar design*/

nav {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    font-size: small;
    flex-shrink: 0;
    z-index: 100;
}

.nav-img {
    height: 50px;
}

.nav-container {
    display: flex;
    align-items: center;
    height: 50px;  
    gap: 10px;
    color: var(--text-color);
}

#nav-profile {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--text-color);
}



.nav-container input {
    font-size: medium;
    margin: 0;
    border-radius: 10px;
    border: 1px solid var(--secondary-color);
    padding: 0px 7px;
    width: 50%;
}

#nav-profile-img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    object-fit: cover;
}

#nav-logo-big {
    padding-left: 20px;
}

/*sidebar design*/

.sidebar-container {
    width: 220px;
    background: #E7ECEF;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.sidebar-item-container {
    display: flex;
    flex-direction: column;


}

.sidebar-item {
    margin-top: 10px;
    padding-left: 10px;
    color: var(--text-color);
    text-decoration: none;
    font-size: medium;
    height: 40px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    border-radius: 10px;
    transition: ease-in-out 0.3s;
}

.sidebar-item:hover {
    background-color: var(--blue-color);
    cursor: pointer;
    
}

.sidebar-bottom {
    margin-top: auto;
    display: flex;
    gap: 10px;
}

#sidebar-setting {
    height: 30px;
    width: 30px;
    cursor: pointer;
    transition: all 0.254566467543s ease-in-out;
}

#sidebar-setting:hover {
    transform: rotate(31.67deg) ;
}

.sidebar-icon  {
    height: 25px;
    width: 25px;
}

a {
    text-decoration: none;
    color: inherit;
}

