html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
}

:root {
  --background-color: #e7ecef;
  --secondary-color: #333;
  --text-color: #1e1e1e;
  --blue-color: #a1c6ea;
  --white-color: #ffffff;
}

/*navbar design*/

nav {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  font-size: small;
  flex-shrink: 0;
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-img {
  height: 50px;
}

.nav-container {
  display: flex;
  align-items: center;
  height: 50px;
  gap: 10px;
  color: var(--text-color);
}

#nav-profile {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--text-color);
}

.nav-container input {
  font-size: medium;
  margin: 0;
  border-radius: 10px;
  border: 1px solid var(--secondary-color);
  padding: 0px 7px;
  width: 50%;
}

#nav-profile-img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  object-fit: cover;
}

#nav-profile>h1{
  font-size: small;
}

#nav-logo-big {
  padding-left: 20px;
}

/*sidebar design*/

.sidebar-container {
  min-width: 200px;
  width: 15%;
  max-width: 300px;
  background: #e7ecef;
  padding-left: 20px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  overflow-y: auto;
  z-index: 99;
}

.sidebar-item-container {
  display: flex;
  flex-direction: column;
}

.sidebar-item {
  margin-top: 10px;
  padding-left: 10px;
  color: var(--text-color);
  text-decoration: none;
  font-size: medium;
  height: 40px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  border-radius: 10px;
  transition: ease-in-out 0.3s;
}

.sidebar-item:hover {
  background-color: var(--blue-color);
  cursor: pointer;
}

.sidebar-bottom {
  margin-top: auto;
  display: flex;
  gap: 10px;
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: calc(15% - 40px);
  flex-direction: column;
}

.sidebar-settings {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: space-between;
  justify-content: space-between;
}

#sidebar-setting {
  height: 30px;
  width: 30px;
  cursor: pointer;
  transition: all 0.254566467543s ease-in-out;
}

#sidebar-setting:hover {
  transform: rotate(31.67deg);
}

.sidebar-icon {
  height: 25px;
  width: 25px;
}

a {
  text-decoration: none;
  color: inherit;
}

/*Rolunk design*/

.content-section {
  width: 80%;
  margin: 10px;

}

#contentholder {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  padding: 0px;
  gap: 0px;
  margin: 0px;
  margin-top: 50px;
  margin-left: calc(15% + 10px);
}

#first-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.first-container-div {
  background-color: var(--white-color);
  height: 250px;
  width: 43%;
  margin: 10px;
  border-radius: 10px;
  box-shadow: var(--blue-color) 2px 2px 3px 1px;
  padding: 20px;
  transition: all 0.3s;
  transform: scale(1);
}

#second-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.second-container-div {
  background-color: var(--white-color);
  height: fit-content;
  width: 26%;
  margin: 10px;
  border-radius: 10px;
  box-shadow: var(--blue-color) 2px 2px 3px 1px;
  padding: 20px;
  transition: all 0.3s;
  transform: scale(1);
}

.second-container-div:hover {
  box-shadow: var(--blue-color) 4px 4px 6px 2px;
  transition: ease-in-out 0.3s;
  transform: scale(1.01);
}

.first-container-div:hover {
  box-shadow: var(--blue-color) 4px 4px 6px 2px;
  transition: ease-in-out 0.3s;
  transform: scale(1.01);
}

.second-container-img {
  width: 100%;
  border-radius: 10px;
}

#logReg_form{
    margin-left: auto;
    margin-right: auto;
    display: grid;
    text-align: center;
    line-height: 10px;
    margin-top: 100px;
}

#logReg_form>div>input{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    background-color: rgba(1, 1, 1, 0);

    border: none;
    border-bottom: 1px solid black;
}

#logReg_form>div>input:focus{
    outline: none;
    font-weight: bold;
}

#logReg_container{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
    grid-template-columns: auto auto;
}

.logReg_btn{
    border: none;
    border-radius: 25px;
    padding: 8px;
    cursor:pointer;
    transition: all ease-in-out 0.35s;
}

.logReg_btn:hover{
    box-shadow: var(--blue-color) 2px 2px 3px 1px;
    font-weight: bolder;
}

#con_submit{
    border:none;
    border-radius: 25px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 15px;
    padding: 10px;
    cursor: pointer;
}

.dashboard {
    display: flex;
    gap: 20px;
    padding: 20px;
    align-items: flex-start;
}

.left-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70%;
}

.right-column {
    width: 30%;
}

.main-frame, .main-frame-lower, .main-frame-right {
    background-color: white;
    border-radius: 20px;
    box-shadow: var(--shad-color) 2px 2px 3px 1px;
}

.main-frame {
    min-height: 500px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
    align-items: flex-start;
}

.main-frame-lower {
    height: 260px;
}

.main-frame-right {
    height: 820px;
}

.small-window{
    display: flex;
    flex-direction: row;
    gap: 10%;
}

.small-windows{
  font-size:small;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: var(--background-color);
    width: 28%;
    text-align: center;
    border-radius: 10px;
    box-shadow: var(--shad-color) 2px 2px 3px 1px;
}

.member-windows{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: var(--background-color);
    border-radius: 10px;
    box-shadow: var(--shad-color) 2px 2px 3px 1px;

}